
* {
    padding:0; margin:0;
    font-size: 0.5rem;
}

body{
    padding:0 0.27rem
}


h1,h3,h4{
    margin:0.27rem 0;
}

h1 {
    font-size: 0.6rem;
}

.div-face-authentication-page {
    padding-top: 1rem;
}

.h1-page-title {
    padding: 0 0.8rem;
    margin-bottom: 2rem;
}

.div-subtitle {
    color: #F59A23;
    font-size: 0.45rem;
    padding: 0.5rem 0;
}

.div-video-wrapper {
    position: relative;
    width: 6.14rem;
    height: 6.4rem;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}

#video{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotateY(180deg);
    background:#000;
}

.div-button-wrapper {
    margin: 0.6rem 0;
    padding: 0 1rem;
}

#id-button-sign-in, #id-button-snap{
    margin-bottom: 0.25rem;
    background: #D20A10;
    border: #D20A10;
    color: #fff;
}

#id-button-back {
    margin-bottom: 0.25rem;
    background-color: #fff;
    color: #000;
    border-color: #aaa;
}

#photo{
    display: inline-block;
    width:320px;
    height:320px;
    margin: 0 auto;
    background-repeat:no-repeat;
    background-size:contain;
    background-position: center;
    transform: rotateY(180deg);
}

#text{
    width:320px;
    height:200px;
}

.div-success-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: 1rem;
    text-align: center;
    color: #67C23A;
}

.dev {
    border: 1px solid #f00;
}

.text-align-center {
    text-align: center;
}

.label-text {
    font-size: 0.4rem;
}

.hide {
    display: none;
}

.active {
    display: block;
}
