
* {
    padding:0; margin:0;
}

body{
    padding:0 10px
}

h1,h3,h4{
    margin:10px 0;
}

#video{
    background:#000;
    display:block;
}


#snap{
    width:100px;
    height:40px;
    line-height:40px;
    margin:10px 0;
}

#photo{
    width:320px;
    height:320px;
    background-repeat:no-repeat;
    background:#000
}

#text{
    width:320px;
    height:200px;
}
