
* {
    padding:0; margin:0;
}

body{
    padding:0 10px
}

h1,h3,h4{
    margin:10px 0;
}

.div-video-wrapper {
    position: relative;
    width: 230px;
    height: 250px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
}

#video{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 320px;
    background:#000;
}


#snap{
    width:100px;
    height:40px;
    line-height:40px;
    margin:10px 0;
}

#photo{
    width:320px;
    height:320px;
    background-repeat:no-repeat;
    background:#000
}

#text{
    width:320px;
    height:200px;
}

.dev {
    border: 1px solid #f00;
}
